{% extends 'books/registration/auth_base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block left_section %}
    <p class="mb-5">Instructions for resetting your password. </p>
    <img src="../static/assets/img/radar.png" alt="Password Reset Illustration" class="img-fluid" style="max-width: 400px;">
{% endblock %}

{% block right_section %}
    <div class="container">
        <h2>Password Reset Sent</h2>
        <p>We've emailed you instructions for resetting your password. If you don't receive an email, please check your spam folder.</p>
    </div>
{% endblock %}
