{% extends 'books/registration/auth_base.html' %}

{% block title %}Password Reset{% endblock %}

{% block left_section %}
    <p class="mb-5">Reset your password to regain access to your account</p>
    <img src="../static/assets/img/radar.png" class="img-fluid" style="max-width: 400px;">
{% endblock %}

{% block right_section %}
    <div class="container">
        <h2>Reset your password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Send reset link</button>
        </form>
    </div>
{% endblock %}
