{% extends 'books/registration/auth_base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block left_section %}
    <p class="mb-5">Please choose a new password for your account.</p>
    <img src="../static/assets/img/radar.png" alt="Password Reset Illustration" class="img-fluid" style="max-width: 400px;">
{% endblock %}

{% block right_section %}
    <div class="container">
        <h2>Reset Your Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
{% endblock %}
